.container {
  position: relative;
  min-height: 100vh;
  text-align: center;
  overflow: hidden;
  width: 100%;

  .content {
    display: flex;
    flex-direction: column;
    gap: 8rem;

    margin: 0 auto;
    padding: 8rem 1rem;
    max-width: 1080px;
    box-sizing: content-box;
  }
}