.container {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  
  .tag {
    display: flex;
    padding: 0.625rem 1rem;
    justify-content: center;
    align-items: center;

    border-radius: 999rem;
    background: rgba(255, 255, 255, 0.05);
    font-size: 0.875rem;
    font-weight: 300;
    transition: .15s ease;
    
    user-select: none;
    -webkit-user-drag: none;

    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
  }
  
  &.center {
    justify-content: center;
  }

  &.big {
    .tag {
      position: relative;
      padding: .7rem 1.4rem;
      border-radius: 0;
      transform: skewX(-30deg);
      border-radius: .5rem;
      overflow: hidden;

      &:hover {
        &::after {
          width: 100%;
          transform: translate3d(0, 50%, 0);
          border-radius: 0;
          filter: blur(0);
          transition: .1s ease;
        }
      }

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translate3d(-50%, 25%, 0);
        width: 1rem;
        height: 5rem;
        background: rgba(255, 211, 169, 0.1);
        border-radius: 50%;
        filter: blur(10px);
        transition: .3s ease 1s;
      }
      
      span {
        transform: skewX(30deg);
      }
    }
  }
}