$one: calc(1vh + 5vw);

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: min(calc($one * 3), 8rem);

  user-select: none;
  -webkit-user-drag: none;

  .content {
    z-index: 0;
    position: relative;
    font-weight: inherit;
    font-size: inherit;
    text-shadow: 0 0 .35em rgba(171, 118, 231, 0.1);

    &::after {
      content: '';
      z-index: 1;
      position: absolute;
      left: -0.1em;
      top: -0.4em;
      width: .9em;
      height: .9em;
      transform: translate3d(-50%, 0, 0);
      border-radius: 0 0 1rem 0;
      backdrop-filter: blur(10px);
    }

    .title {
      z-index: 1;
      position: relative;
      font-weight: inherit;
      font-size: inherit;
      color: #1f1e20;
      text-shadow:
        0 0 .01em #5b585c,
        0 0 .01em #5b585c,
        0 0 .01em #5b585c
      ;
    }

    .stroke {
      font-weight: inherit;
      font-size: inherit;
  
      position: absolute;
      left: -.05em;
      top: -.05em;
      color: transparent;
      -webkit-text-stroke: .01em #a776e7;
    }
  }
}