$one: calc(5vw + 1vh);

.technology {
  --animationProgress: 0;

  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;
  gap: 2rem;

  position: relative;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  width: 100vw;
  overflow: hidden;

  background: #EEFFE7;
  color: #000;

  .cw {
    max-width: var(--cw);
    margin: 0 auto;
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 1rem;

    .head {
      position: relative;

      display: flex;
      align-items: center;
      gap: .625rem;

      .image {
        position: relative;
        z-index: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;
        width: 2.625rem;
        height: 2.625rem;

        &::after {
          content: '';
          z-index: -1;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: #B1FFC3;
          filter: blur(20px);
        }

        img {
          padding: 0.5rem;
          object-fit: contain;
        }
      }

      .title {
        font-size: 2.25rem;
      }

      .type {
        color: rgba(0, 0, 0, 0.4);
        font-size: 1rem;
        font-weight: 300;
      }
    }

    .body {
      $fontSize: min($one, 4rem);
      $progress: min(calc(var(--animationProgress) + .6), 1);
      $topFrom: 120px;
      
      position: relative;
      top: calc($topFrom - $topFrom * $progress);
      
      display: flex;
      flex-wrap: wrap;
      gap: calc($fontSize * .3);

      font-size: 4rem;
      font-weight: 900;
      letter-spacing: .01em;
      
      span {
        display: inline-block;

        --filled: 0;
        $progress: calc(var(--filled) * 100%);
      
        font-size: $fontSize;
        line-height: calc(.8 + .35 * $progress);
        color: #D2F4C3;

        &.active {
          background: linear-gradient(
            120deg, #000 $progress, #D2F4C3 $progress
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }

  .tags {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2rem;
    width: 100%;
    gap: 1rem;
  }

  .buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    gap: 1rem;
  }
}