.curtains {
  position: relative;
  left: 0;
  top: 0;
  width: 100vw;
  height: 400vh;
  margin-top: -150vh;
  visibility: hidden;
  transition: 1s ease;

  &.active {
    opacity: 1;
    visibility: visible;
  }
  
  .curtain {
    position: fixed;
    width: 200vw;
    top: 0;
    height: 50vh;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    background: #a4e25e;

    &:nth-child(-n + 2) {
      background: #222;
    }
  }
}